extends layout

block variables
  - var bodyClass = 'visualizer'
  
block content
  canvas#visualizerCanvas
  div#songData
    div#time
    div#tatums
    div#segments
    div#beats
    div#bars
    div#sections
 